# see http://code.v.igoro.us/posts/2019/07/codeowners.html

* @taskcluster/core

# changelogs should not pull in reviewers
changelog/**

# generated stuff that does not need review (this is similar to /.gitattributes)
generated/**
clients/client-web/src/clients/**
clients/client-py/taskcluster/generated/**
clients/client-py/README.md
clients/client/src/apis.js
clients/client-rust/src/generated/**
infrastructure/k8s/templates/**
clients/client-shell/apis/services.go
clients/client-go/tc*/**
workers/generic-worker/generated_*.go
