# build specific
**/node_modules
.eslintcache
**/.coverage
**/coverage.report
__pycache__

**.log
**/user-config.yml
**/.nyc_output

# IDE stuff
.idea
.vscode

# top level files that should not be inside the container
cloudbuild.yaml
docker-compose*.yml
netlify.toml
generic-worker.Dockerfile
dev-config.yml

# top level folders that are not needed
# docker files specific to local development
docker
# dev docs
dev-docs
# ci config
taskcluster
test
artifacts

clients/client-rust/target

ui/build
dist

# generic worker artifacts
workers/generic-worker/generic-worker-*
workers/generic-worker/generic-worker
workers/generic-worker/testdata/Test*
tools/taskcluster-proxy/taskcluster-proxy
tools/taskcluster-proxy/target
tools/livelog/livelog
