# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Coverage report
coverage.report

# other
*.secrets
*.id_rsa
*.log
*.latest-ami

# Created by generic worker tests
/downloads/
/caches/
/testdata/command_*
/testdata/dir.txt
/testdata/env.txt
/testdata/my-task-caches/
/testdata/preloaded/
/testdata/public/logs/

# For any releases made locally
/target/
worker_type_definitions
