defaults:
  app:
    level: !env LEVEL

    publishMetaData:              !env:bool PUBLISH_METADATA
    exchangePrefix:               v1/

    # Number of seconds before the claim to a run expires
    claimTimeout:                 1200

    # Blob Artifact configuration
    publicBlobArtifactBucket:     !env PUBLIC_BLOB_ARTIFACT_BUCKET
    privateBlobArtifactBucket:    !env PRIVATE_BLOB_ARTIFACT_BUCKET
    blobArtifactRegion:           !env BLOB_ARTIFACT_REGION

    # S3 buckets where artifacts are stored NOTE: Only legacy S3 type
    publicArtifactBucket:         !env PUBLIC_ARTIFACT_BUCKET
    privateArtifactBucket:        !env PRIVATE_ARTIFACT_BUCKET

    # Azure blob container for artifacts NOTE: Only for legacy Azure Type
    artifactContainer:            artifacts

    # Azure table name for tasks, artifact meta-data
    taskTableName:                Tasks
    artifactTableName:            Artifacts
    taskGroupTableName:           TaskGroups
    taskGroupMemberTableName:     TaskGroupMembers
    taskGroupActiveSetTableName:  TaskGroupActiveSets
    taskRequirementTableName:     TaskRequirement
    taskDependencyTableName:      TaskDependency
    workerTableName:              Worker
    workerTypeTableName:          WorkerType
    provisionerTableName:         Provisioner

    # Azure monitoring knobs
    azureReportChance:            !env:number AZURE_REPORT_CHANCE # range [0.0, 1.0]
    azureReportThreshold:         !env:number AZURE_REPORT_THRESHOLD # in milliseconds

    # Time delay before expiring artifacts, in readable format, see:
    # taskcluster.fromNow, notice this should be negative!
    artifactExpirationDelay:      '- 30 minutes'

    # Time delay before expiring tasks, in readable format, see:
    # taskcluster.fromNow, notice this should be negative!
    taskExpirationDelay:          '- 30 minutes'

    # Time delay before expiring worker info; notice this should be negative!
    workerInfoExpirationDelay:    '- 30 minutes'

    # Time extension of the expires property for task-group definitions.
    # This is entities holding the schedulerId for a task-group, hence, we
    # expire them later to avoid people creating tasks with a different
    # schedulerId inside a task-group where all tasks are about to expire.
    taskGroupExpiresExtension:     6220800 # 3 days as seconds

    # Prefix for azure queues (at most 6 characters)
    queuePrefix:                  queue

    # Name of azure queue for tracking claim expiration
    claimQueue:                   claim-queue

    # Name of azure queue for tracking deadlines
    deadlineQueue:                deadline-queue

    # Name of azure queue for tracking resolved tasks (dependency tracker)
    resolvedQueue:                resolved-queue

    # Number of ms before deadline expiration message arrives, past deadline
    deadlineDelay:                60000

    # Configuration for deadline-resolver
    deadlineResolver:
      # Number of ms to sleep after polling from an empty queue
      pollingDelay:               5000
      # Number of event loops to run in parallel, each taking up to 32 message
      # in parallel. Hence, 4 implies 4 * 32 = 128 messages in parallel
      parallelism:                1

    # Configuration for claim-resolver
    claimResolver:
      # Number of ms to sleep after polling from an empty queue
      pollingDelay:               5000
      # Number of event loops to run in parallel, each taking up to 32 message
      # in parallel. Hence, 4 implies 4 * 32 = 128 messages in parallel
      parallelism:                1

    # Configuration for dependency-resolver
    dependencyResolver:
      # Number of ms to sleep after polling from an empty queue
      pollingDelay:               5000
      # Number of event loops to run in parallel, each taking up to 32 message
      # in parallel. Hence, 4 implies 4 * 32 = 128 messages in parallel
      parallelism:                4

    # Mapping from EC2 region to public artifact bucket proxy
    # (Must not end with a slash!)
    publicArtifactBucketProxies:  !env:json PUBLIC_ARTIFACT_EC2_PROXIES

    # CDN for public artifact bucket
    publicArtifactBucketCDN:      !env PUBLIC_ARTIFACT_BUCKET_CDN

    # Cloud mirror configuration
    useCloudMirror:               !env:bool USE_CLOUD_MIRROR
    cloudMirrorHost:              'cloud-mirror.taskcluster.net'


  taskcluster:
    rootUrl:          !env TASKCLUSTER_ROOT_URL
    credentials:
      clientId:       !env TASKCLUSTER_CLIENT_ID
      accessToken:    !env TASKCLUSTER_ACCESS_TOKEN

  monitoring:
    project: !env MONITORING_PROJECT
    enable: !env:bool MONITORING_ENABLE

  server:
    port:             !env:number PORT
    env:              !env NODE_ENV
    forceSSL:         !env:flag FORCE_SSL
    trustProxy:       false

  # Azure credentials (for blob and queue storage)
  azure:
    accountId:                !env AZURE_ACCOUNT_ID
    accountKey:               !env AZURE_ACCOUNT_KEY

  # Azure account (for table storage which uses auth for access)
  azureTableAccount:          !env AZURE_TABLE_ACCOUNT_NAME

  pulse:
    namespace:                !env PULSE_NAMESPACE
    username:                 !env PULSE_USERNAME
    password:                 !env PULSE_PASSWORD
    hostname:                 !env PULSE_HOSTNAME
    vhost:                    !env PULSE_VHOST

  aws:
    # Credentials with access to artifact buckets and
    # references/schemas.taskcluster.net if you wish to publish meta-data
    accessKeyId:      !env AWS_ACCESS_KEY_ID
    secretAccessKey:  !env AWS_SECRET_ACCESS_KEY
    region:           !env ARTIFACT_REGION
    apiVersion:       2014-01-01

  monitor:
    mock:             true

# Configuration in production
production:
  app:
    artifactContainer:            'artifacts'
    taskTableName:                'QueueTasks'
    artifactTableName:            'QueueArtifacts'
    taskGroupTableName:           'QueueTaskGroups'
    taskGroupMemberTableName:     'QueueTaskGroupMembers'
    taskGroupActiveSetTableName:  'QueueTaskGroupActiveSets'
    taskRequirementTableName:     'QueueTaskRequirement'
    taskDependencyTableName:      'QueueTaskDependency'
    workerTableName:              'QueueWorker'
    workerTypeTableName:          'QueueWorkerType'
    provisionerTableName:         'QueueProvisioner'
    cloudMirrorRegions:
      - us-east-1
      - us-east-2
      - us-west-1
      - eu-central-1
  pulse:
    namespace: taskcluster-queue
  server:
    env:              production
    trustProxy:       true
  monitor:
    mock:             false

# Configuration of tests
test:
  app:
    publishMetaData:              false
    # For testing purposes we let claims expire very fast
    claimTimeout:                 1
    artifactContainer:            'artifacts'
    queuePrefix:                  'hacks3'
    queuePrefix2:                 'hacks4' # For testing deletion of queues
    claimQueue:                   'test-claim-queue'
    deadlineQueue:                'test-deadline-queue'
    deadlineDelay:                1000
    # Positive, means we expire artifacts 4 days ahead of time, useful for
    # testing. In production this should be "- x hours" or so...
    artifactExpirationDelay:      '4 days'
    # Positive, means that expire tasks 4 days ahead of time, useful for
    # testing. In production this should be "- x hours" or so...
    taskExpirationDelay:          '4 days'
    taskGroupExpiresExtension:    0 # should always be positive in production
    deadlineResolver:
      pollingDelay:               250
      parallelism:                1
    claimResolver:
      pollingDelay:               250
      parallelism:                1
    dependencyResolver:
      pollingDelay:               250
      parallelism:                1
    publicArtifactBucketProxies:
      'us-east-1':    'proxy-for-us-east-1'
  monitoring:
    enable: false
  server:
    port:             60401
    env:              development
  azureTableAccount:  inMemory
load-test:
  app:
    publishMetaData:              false
    publicArtifactBucket:         'test-bucket-for-any-garbage'
    privateArtifactBucket:        'test-bucket-for-any-garbage2'
    artifactContainer:            'artifacts'
    queuePrefix:                  'lta'
    taskTableName:                'LoadTestTasks2'
    artifactTableName:            'LoadTestArtifacts2'
    taskGroupTableName:           'LoadTestTaskGroups2'
    taskGroupMemberTableName:     'LoadTestTaskGroupMembers2'
    taskGroupActiveSetTableName:  'LoadTestTaskSizeMembers2'
    taskRequirementTableName:     'LoadTestTaskRequirement2'
    taskDependencyTableName:      'LoadTestTaskDependency2'
    workerTableName:              'LoadTestWorker'
    workerTypeTableName:          'LoadTestWorkerType'
    provisionerTableName:         'LoadTestProvisioner'
    claimQueue:                   'load-test-claim-queue'
    deadlineQueue:                'load-test-deadline-queue'
    publicArtifactBucketProxies:
      'us-east-1':    'proxy-for-us-east-1'
    azureReportChance:            0.0
    azureReportThreshold:         1000000
  monitoring:
    enable: false
  server:
    env:              development
    forceSSL:         true
    trustProxy:       true
