apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: ${projectName}-${lowercase(procName)}
  labels: {$eval: labels}
spec:
  schedule: ${schedule}
  jobTemplate:
    metadata:
      labels: {$eval: labels}
    spec:
      template:
        metadata:
          labels: {$eval: labels}
        spec:
          restartPolicy: OnFailure
          activeDeadlineSeconds: {$eval: 'deadlineSeconds'}
          containers:
          - name: ${projectName}-${lowercase(procName)}
            image: '{{ .Values.dockerImage }}'
            imagePullPolicy: Always
            args: ['${serviceName}/${procName}']
            resources:
              requests:
                cpu: '{{ .Values.${configName}.procs.${configProcName}.cpu }}'
                memory: '{{ .Values.${configName}.procs.${configProcName}.memory }}'
            env:
              - name: TASKCLUSTER_ROOT_URL
                value: '{{ .Values.rootUrl }}'
              - name: USE_KUBERNETES_DNS_SERVICE_DISCOVERY
                value: 'true'
              - name: NODE_ENV
                value: 'production'
            envFrom:
              - secretRef:
                  name: ${projectName}
