dockerImage: taskcluster/taskcluster:v96.6.2
trustProxy: true
forceSSL: false
nodeEnv: production
useKubernetesDnsServiceDiscovery: true
skipResourceTypes: []
prometheus: {}
auth:
  procs:
    web:
      replicas: 1
      cpu: 100m
      memory: 200Mi
      metrics: true
    purgeExpiredClients:
      cpu: 800m
      memory: 500Mi
    purgeAuditHistory:
      cpu: 50m
      memory: 100Mi
  debug: ''
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  level: notice
built_in_workers:
  procs:
    server:
      replicas: 1
      cpu: 10m
      memory: 50Mi
  debug: ''
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  taskcluster_client_id: static/taskcluster/built-in-workers
  level: notice
github:
  procs:
    web:
      replicas: 1
      cpu: 10m
      memory: 50Mi
      metrics: true
    worker:
      replicas: 1
      cpu: 200m
      memory: 200Mi
    sync:
      cpu: 800m
      memory: 500Mi
  debug: ''
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  taskcluster_client_id: static/taskcluster/github
  level: notice
hooks:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 50Mi
      metrics: true
    scheduler:
      replicas: 1
      cpu: 10m
      memory: 50Mi
    listeners:
      replicas: 1
      cpu: 50m
      memory: 50Mi
    expires:
      cpu: 50m
      memory: 50Mi
  debug: ''
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  taskcluster_client_id: static/taskcluster/hooks
  level: notice
index:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 50Mi
      metrics: true
    handlers:
      replicas: 1
      cpu: 50m
      memory: 50Mi
    expire:
      cpu: 50m
      memory: 50Mi
  debug: ''
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  level: notice
  taskcluster_client_id: static/taskcluster/index
notify:
  procs:
    web:
      replicas: 1
      cpu: 100m
      memory: 100Mi
      metrics: true
    handler:
      replicas: 1
      cpu: 50m
      memory: 100Mi
  debug: ''
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  taskcluster_client_id: static/taskcluster/notify
  level: notice
object:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 100Mi
      metrics: true
    expire:
      cpu: 50m
      memory: 100Mi
  debug: ''
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  taskcluster_client_id: static/taskcluster/object
  level: notice
purge_cache:
  procs:
    web:
      replicas: 1
      cpu: 100m
      memory: 50Mi
      metrics: true
    expireCachePurges:
      cpu: 800m
      memory: 500Mi
  debug: ''
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  level: notice
  taskcluster_client_id: static/taskcluster/purge-cache
queue:
  procs:
    web:
      replicas: 1
      cpu: 400m
      memory: 200Mi
      metrics: true
    claimResolver:
      replicas: 1
      cpu: 50m
      memory: 50Mi
      metrics: true
    workerRemovedResolver:
      replicas: 1
      cpu: 50m
      memory: 100Mi
      metrics: true
    deadlineResolver:
      replicas: 1
      cpu: 50m
      memory: 100Mi
      metrics: true
    dependencyResolver:
      replicas: 1
      cpu: 100m
      memory: 100Mi
    expireArtifacts:
      cpu: 200m
      memory: 100Mi
    expireTask:
      cpu: 50m
      memory: 100Mi
    expireTaskGroups:
      cpu: 50m
      memory: 50Mi
    expireTaskDependency:
      cpu: 50m
      memory: 50Mi
    expireQueueMessages:
      cpu: 50m
      memory: 100Mi
    expireWorkerInfo:
      cpu: 200m
      memory: 100Mi
    workerMetrics:
      replicas: 1
      cpu: 50m
      memory: 100Mi
      metrics: true
  debug: ''
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  taskcluster_client_id: static/taskcluster/queue
  level: notice
secrets:
  procs:
    web:
      replicas: 1
      cpu: 100m
      memory: 50Mi
      metrics: true
    expire:
      cpu: 800m
      memory: 500Mi
  debug: ''
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  taskcluster_client_id: static/taskcluster/secrets
  level: notice
web_server:
  procs:
    web:
      replicas: 1
      cpu: 500m
      memory: 300Mi
      metrics: true
    scanner:
      cpu: 800m
      memory: 500Mi
    cleanup_session_storage:
      cpu: 50m
      memory: 100Mi
    cleanup_expire_auth_codes:
      cpu: 800m
      memory: 500Mi
    cleanup_expire_access_tokens:
      cpu: 800m
      memory: 500Mi
  debug: ''
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  level: notice
  taskcluster_client_id: static/taskcluster/web-server
worker_manager:
  procs:
    web:
      replicas: 1
      cpu: 100m
      memory: 100Mi
      metrics: true
    provisioner:
      replicas: 1
      cpu: 50m
      memory: 200Mi
      metrics: true
    workerscanner:
      replicas: 1
      cpu: 200m
      memory: 200Mi
      metrics: true
    workerscanner_azure:
      replicas: 1
      cpu: 200m
      memory: 200Mi
      metrics: true
    expire_workers:
      cpu: 200m
      memory: 200Mi
    expire_worker_pools:
      cpu: 800m
      memory: 500Mi
    expire_launch_configs:
      cpu: 50m
      memory: 100Mi
    expire_errors:
      cpu: 800m
      memory: 500Mi
  debug: ''
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  level: notice
  taskcluster_client_id: static/taskcluster/worker-manager
ui:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 10Mi
  debug: ''
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
references:
  procs:
    web:
      replicas: 1
      cpu: 10m
      memory: 10Mi
  debug: ''
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
