dockerImage: 'taskcluster/taskcluster:v24.1.9'
trustProxy: true
forceSSL: false
nodeEnv: production
auth:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    purgeExpiredClients:
      cpu: 50m
      memory: 100Mi
  debug: ''
  level: notice
built_in_workers:
  procs:
    server:
      replicas: 1
      cpu: 50m
      memory: 100Mi
  debug: ''
  taskcluster_client_id: static/taskcluster/built-in-workers
  level: notice
github:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    worker:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    sync:
      cpu: 50m
      memory: 100Mi
  debug: ''
  taskcluster_client_id: static/taskcluster/github
  level: notice
hooks:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    scheduler:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    listeners:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    expires:
      cpu: 50m
      memory: 100Mi
  debug: ''
  taskcluster_client_id: static/taskcluster/hooks
  level: notice
index:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    handlers:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    expire:
      cpu: 50m
      memory: 100Mi
  debug: ''
  level: notice
  taskcluster_client_id: static/taskcluster/index
notify:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    irc:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    handler:
      replicas: 1
      cpu: 50m
      memory: 100Mi
  debug: ''
  taskcluster_client_id: static/taskcluster/notify
  level: notice
purge_cache:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    expireCachePurges:
      cpu: 50m
      memory: 100Mi
  debug: ''
  level: notice
  taskcluster_client_id: static/taskcluster/purge-cache
queue:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    claimResolver:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    deadlineResolver:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    dependencyResolver:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    expireArtifacts:
      cpu: 50m
      memory: 100Mi
    expireTask:
      cpu: 50m
      memory: 100Mi
    expireTaskGroups:
      cpu: 50m
      memory: 100Mi
    expireTaskGroupMembers:
      cpu: 50m
      memory: 100Mi
    expireTaskGroupSizes:
      cpu: 50m
      memory: 100Mi
    expireTaskDependency:
      cpu: 50m
      memory: 100Mi
    expireTaskRequirement:
      cpu: 50m
      memory: 100Mi
    expireQueues:
      cpu: 50m
      memory: 100Mi
    expireWorkerInfo:
      cpu: 50m
      memory: 100Mi
  debug: ''
  taskcluster_client_id: static/taskcluster/queue
  level: notice
secrets:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    expire:
      cpu: 50m
      memory: 100Mi
  debug: ''
  taskcluster_client_id: static/taskcluster/secrets
  level: notice
web_server:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    scanner:
      cpu: 50m
      memory: 100Mi
    cleanup_expire_auth_codes:
      cpu: 50m
      memory: 100Mi
    cleanup_expire_access_tokens:
      cpu: 50m
      memory: 100Mi
  debug: ''
  level: notice
  taskcluster_client_id: static/taskcluster/web-server
worker_manager:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    provisioner:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    workerscanner:
      replicas: 1
      cpu: 50m
      memory: 100Mi
    expire_workers:
      cpu: 50m
      memory: 100Mi
    expire_worker_pools:
      cpu: 50m
      memory: 100Mi
    expire_errors:
      cpu: 50m
      memory: 100Mi
  debug: ''
  level: notice
  taskcluster_client_id: static/taskcluster/worker-manager
ui:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 100Mi
  debug: ''
references:
  procs:
    web:
      replicas: 1
      cpu: 50m
      memory: 100Mi
  debug: ''
