env:
  global:
  - DEBUG='* -superagent -express:* -mocha:*'
language: node_js
node_js:
- '0.12'
services:
- rabbitmq
script: npm test
before_install:
# unpack the secrets, but only if this is not a pull request; otherwise, the tests will run with no credentials
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && openssl aes-256-cbc -K $encrypted_34d7be19243e_key -iv $encrypted_34d7be19243e_iv -in user-config.yml.enc -out user-config.yml -d'

# encrpyt channel name to get around issue
# https://github.com/travis-ci/travis-ci/issues/1094
notifications:
  irc:
    channels:
      # encrpyted string was "irc.mozilla.org#taskcluster-bots"
      - secure: "apHHdUi42TDluQ9T0x6Tz/pw/z9reiaIj6Jn4DsqfiPUJqe69msEnzKnaIrKl//dDVa3IClXxpTnAOQ8Z2sJltJR6uazyEGXlTEwsx+umfGhI60ZfkhOLKpZ7kvAsNnxrgGLMsx2WIrLm20j1I1HGJcImsiZw9zw0Bcactz3NGi0V75TlvjrdtDSsXT84DGSVe0gumX9QHTsdiHbJAJZbWRMVrR6QVKmxAD54kQwi3R5twZsvxvBW8B0wSviNZv1VpUYOO93tRCj7hnmLLbZgvjSG22D7XHl+d3FX7PHdIU2GKS/TpbrtP+q5BUEqBD6e4XD8g5inhkqoe8DuKlN8f5jldjFWXIDmzoYAhUvWeoy4vG6XeRUQBKN1VL4yt7Iq0y3SzKWvrDycoqLR9hdrL7WbVFJWPoHIUo3do21c0iGNxCOGSZcr8zL/hdQZ4uAIkKUdtsimoDDAATKqm8rtD4Ns+KdxNk/j5oj2Z3cENi6gPXoSafwa4tFeSvWLCmcWHdu4VT9VUHK20ypvFPoywJEub+fPxOIz82T5y4UQ+NmPHmu3lnrM/ZfPG27kadqNmyETxplsu5MP3DjPrlddifOjTCMrX0wuanC0VMBl6gtcKLWSwJvwOcZWQ4WutcSFyOfLsly6489+kAFXRaYyoIE19Pqe1ya8xiVvh1j2MY="
    on_success: change
    on_failure: always
    template:
      - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
      - "Change view : %{compare_url}"
      - "Build details : %{build_url}"
      - "Commit message : %{commit_message}"
