defaults:
  # defaults outlining all configuration options and some sane defaults
  app:
    component:        hooks
    hookTableName:     !env HOOK_TABLE_NAME
    lastFireTableName: !env LASTFIRE_TABLE_NAME
    queuesTableName:  !env QUEUE_TABLE_NAME
    publishMetaData:  !env:bool PUBLISH_METADATA
    lastFiresExpirationDelay: '- 1 day'
    scheduler:
      pollingDelay:   60000
  influx:
    connectionString: !env INFLUX_CONNECTION
    maxDelay:         300
    maxPendingPoints: 300
  azure:
    accountId:        !env AZURE_ACCOUNT
    signingKey:       !env TABLE_SIGNING_KEY
    cryptoKey:        !env TABLE_CRYPTO_KEY
  taskcluster:
    rootUrl:          !env TASKCLUSTER_ROOT_URL
    credentials:
      clientId:       !env TASKCLUSTER_CLIENT_ID
      accessToken:    !env TASKCLUSTER_ACCESS_TOKEN
  monitoring:
    level:                      !env LEVEL
    enable:                     !env:bool MONITORING_ENABLE
    pretty:                     !env:bool PRETTY_LOGGING
  server:
    port:             !env:number PORT
    env:              !env NODE_ENV
    forceSSL:         !env:bool FORCE_SSL
    trustProxy:       !env:bool TRUST_PROXY
  aws:
    ses:
      # Credentials with access to SES to send hook failure emails
      accessKeyId:      !env AWS_ACCESS_KEY_ID
      secretAccessKey:  !env AWS_SECRET_ACCESS_KEY
      region:           us-east-1
      params:
        Source:         taskcluster-hooks@mozilla.com
    validator:
      # Credentials with access to references/schemas.taskcluster.net if you wish
      # to publish meta-data
      accessKeyId:      !env AWS_ACCESS_KEY_ID
      secretAccessKey:  !env AWS_SECRET_ACCESS_KEY
      region:           us-west-2
      apiVersion:       2014-01-01
  pulse:
    username:       !env PULSE_USERNAME
    password:       !env PULSE_PASSWORD
    hostname:       !env PULSE_HOSTNAME
    vhost:          !env PULSE_VHOST
    # a list of regular expressions for exchanges that are prohibited
    denylist:
     # triggering a hook on task-created could create a "task bomb" that just spews
     # out tasks with no end, and isn't useful otherwise
     - exchange/taskcluster-queue/v1/task-created
     # changes to hooks themselves are internal and shouldn't trigger hooks
     - exchange/taskcluster-hooks/.*


production:
  server:
    env:              production

test:
  # See user-config-example.yml for secrets credentials required for tests
  app:
    component:        hooks-tests
    hookTableName:    HooksTestTable2
    lastFireTableName: LastFireTestTable
    queuesTableName:  QueueTestTable
    publishMetaData:  false
    scheduler:
      pollingDelay:   5000
  azure:
    accountId:        'jungle'
    signingKey:       'not a secret'
    cryptoKey:        'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA='
  monitoring:
    level: warning
    enable: false
  server:
    port:             60401
    env:              development
    forceSSL:         false
    trustProxy:       false
  pulse:
    namespace:        'taskcluster-fake'
