defaults:
  taskclusterSecrets:
      publishMetaData:              !env:bool PUBLISH_METADATA
    statsComponent:               'secrets'
    # Time delay before expiring secrets, in readable format, see:
    # taskcluster.fromNow, notice this should be negative!
    secretExpirationDelay:        '- 30 seconds'


  # TaskCluster configuration
  taskcluster:
    # BaseUrl for auth, if default built-in baseUrl isn't to be provided
    authBaseUrl:                  'https://auth.taskcluster.net/v1'

    # TaskCluster credentials for this server, these must have scopes:
    # auth:credentials
    # (typically configured using environment variables)
    credentials:
      clientId:                   !env TASKCLUSTER_CLIENT_ID
      accessToken:                !env TASKCLUSTER_ACCESS_TOKEN

  azure:
    accountName:                  !env AZURE_ACCOUNT
    tableName:                    !env AZURE_TABLE_NAME
    cryptoKey:                    !env AZURE_CRYPTO_KEY
    signingKey:                   !env AZURE_SIGNING_KEY

  # Server configuration
  server:
    # Public URL from which the server can be accessed (used for persona)
    publicUrl:                      'https://secrets.taskcluster.net'

    # Port to listen for requests on
    port:                           !env:number PORT

    # Environment 'development' or 'production'
    env:                            'development'

    # Force SSL, not useful when runnning locally
    forceSSL:                       false

    # Trust a forwarding proxy
    trustProxy:                     false

  # AWS SDK configuration for publication of schemas and references
  aws:
    # Access key id (typically configured using environment variables)
    accessKeyId:                    !env AWS_ACCESS_KEY_ID

    # Secret access key (typically configured using environment variables)
    secretAccessKey:                !env AWS_SECRET_ACCESS_KEY

    # Default AWS region, this is where the S3 bucket lives
    region:                         'us-west-2'

    # Lock API version to use the latest API from 2013, this is fuzzy locking
    # but it does the trick...
    apiVersion:                     '2014-01-01'

production:
  taskclusterSecrets:
    exchangePrefix:               'v1/'

  server:
    publicUrl:                    'https://secrets.taskcluster.net'
    port:                         80
    env:                          'production'
    forceSSL:                     true
    # We trust the proxy on heroku, as the SSL end-point provided by heroku
    # is a proxy, so we have to trust it.
    trustProxy:                   true

test:
  taskclusterSecrets:
    publishMetaData:              'false'
    statsComponent:               'test-queue'
    # Time delay before expiring secrets, in readable format, see:
    # taskcluster.fromNow, notice this should be negative!
    # But in testing we just expire secrets 4 days into the future that's good
    # fun :)
    secretExpirationDelay:        '4 days'

  azure:
    accountName:                  'inMemory'
    tableName:                    'SecretsTestTable'
    cryptoKey:                    'CNcj2aOozdo7Pn+HEkAIixwninIwKnbYc6JPS9mNxZk='
    signingKey:                   'REALULTIMATEPOWER.NET'

  server:
    publicUrl:                    'http://localhost:60415'
    port:                         60415
