#credentials dt, #credentials dd {
  padding-top: 5px;
}

.row.login-option {
    padding-bottom: 1em;
}

.login-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
}
.login-form .form-control:focus {
  z-index: 2;
}

.login-form .top-element {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.login-form .mid-element {
  margin-bottom: -1px;
  border-radius: 0;
}

.login-form .bottom-element {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

