[Unit]
Description=Taskcluster docker worker side containers
After=docker.service

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=300
ExecStart=/usr/local/bin/load-side-containers
User=ubuntu

[Install]
RequiredBy=docker-worker.service
