/.vagrant
docker-worker.key
docker-worker.crt
/packer_cache
/docker-worker-*
/.env
/worker_config
/node_modules
/test/settings/
/test/tmp
/deploy.json
docker-worker.conf.json
*.box
docker-worker.tgz
yarn-error.log
packer-artifacts.json
worker-types-backup.json
image.tar.gz
initrd.tar.gz
kernel.tar.gz
modules.tar.gz
