language: node_js
sudo: false
env:
  global:
  - CXX=g++-4.8
node_js:
- '6'
cache:
  directories:
    - node_modules
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
script: npm test

# encrpyt channel name to get around issue
# https://github.com/travis-ci/travis-ci/issues/1094
notifications:
  irc:
    channels:
      # encrpyted string was "irc.mozilla.org#taskcluster-bots"
      - secure: "NAjKYzSdEaB1bPg66waIiUTzKouQD/IerzF3ANOxFi4BLr4b0r3Y0MP2lfoePXzx6C/pGIz7Fj3Y3U9uaAInbiWCvqRxyIEOhB0Bpp74yCol9V1KrT3D2g0BM70EkhyGSFTNsww6WccLO9Q/g1CVkvi5f7OXETI8ujUXamOcbUg3T37vkwTu8Gvvn1Sx+dqyNbLcEmuE8l6dugUkexI3ogymakbFiT6M6kS/tYk3K0abY07nh0mw27syNZ7xZE0RXnC9oLEE7mEna39FoELK8oIiDAWSOb8/XJeR/hBiwQg+sZzddNgMCpTiwb/2dy89cGjFVsbHVzLzrPi2QXW5Rib0mbzT2MnOn7aBmTGRPnWttMdzwa6B6I0jtmDoXy0wBvyMAEGzHPdGLpd5t8TMUvfcTqN97m57gEbvkpyqajaXeo6QhiBKUvrWNy0jhmoS5T4O1Knf4Jqi4BYbMon40lS5iTwBrsa9rdsMpjM8uKyEdTBHrwpGSwXHzcNjF2scQSxL7B68SxCoid4oNmiGx2vPEoBBu7dFDZ/9DamQZGj6mdfzWupgGI4Zbdz4QIutivp1zmdZSbZUl0RNjsp1Y60tadggQ2THev6ECzJdWEqiuzYby9E7QZCIoNZQDONlS5GhWUVLDgq1eDjTmIEdLzBNmf86n/esUSGPJb4cu4s="
    on_success: change
    on_failure: always
    template:
      - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
      - "Change view : %{compare_url}"
      - "Build details : %{build_url}"
      - "Commit message : %{commit_message}"
