---
defaults:
  app:
    exchangePrefix: 'v1/'
    jobQueue: null
    statusQueue: null
    buildTableName: 'TaskclusterGithubBuilds'
    name: 'taskcluster-github'

  taskcluster:
    # TaskCluster credentials for this server, these must have scopes:
    # auth:credentials
    # (typically configured using environment variables)
    credentials:
      clientId: !env TASKCLUSTER_CLIENT_ID
      accessToken: !env TASKCLUSTER_ACCESS_TOKEN
    queueBaseUrl: !env QUEUE_BASE_URL

  github:
    credentials:
      token: !env GITHUB_OAUTH_TOKEN
      type: 'oauth'

  webhook:
    secret: !env:list WEBHOOK_SECRET

  intree:
    provisionerId: !env PROVISIONER_ID
    workerType: !env WORKER_TYPE

  azure:
    account: !env AZURE_ACCOUNT_NAME

  server:
    publicUrl: 'https://github.taskcluster.net'
    port: !env:number PORT
    env: 'development'
    forceSSL: false
    trustProxy: false

  pulse:
    username: !env PULSE_USERNAME
    password: !env PULSE_PASSWORD

  aws:
    accessKeyId: !env AWS_ACCESS_KEY
    secretAccessKey: !env AWS_SECRET_KEY
    region: 'us-west-2'
    apiVersion: '2014-01-01'

production:
  app:
    jobQueue: 'jobs'
    statusQueue: 'statuses'

  intree:
    provisionerId: 'aws-provisioner-v1'
    workerType: 'github-worker'

  server:
    publicUrl: 'https://github.taskcluster.net'
    env: 'production'
    forceSSL: true
    # We trust the proxy on heroku, as the SSL end-point provided by heroku
    # is a proxy, so we have to trust it.
    trustProxy: true

staging:
  app:
    jobQueue: 'jobs'
    statusQueue: 'statuses'
    buildTableName: 'TaskclusterGithubBuildsStaging'
    name: 'taskcluster-github-staging'

  intree:
    provisionerId: 'aws-provisioner-v1'
    workerType: 'github-worker'

  server:
    publicUrl: 'https://taskcluster-github-staging.herokuapp.com'
    env: 'production'
    forceSSL: true
    # We trust the proxy on heroku, as the SSL end-point provided by heroku
    # is a proxy, so we have to trust it.
    trustProxy: true

test:
  webhook:
    secret: ['abc123', 'def456']

  azure:
    account: 'inMemory'

  server:
    publicUrl: 'http://localhost:60415'
    port: 60415

  intree:
    provisionerId: 'dummy-provisioner'
    workerType: 'dummy-worker'
