---
defaults:
  app:
    jobQueue: null
    deprecatedResultStatusQueue: null
    deprecatedInitialStatusQueue: null
    resultStatusQueue: null
    initialStatusQueue: null
    buildsTableName: 'TaskclusterGithubBuilds'
    ownersDirectoryTableName: 'TaskclusterIntegrationOwners'
    checkRunsTableName: 'TaskclusterCheckRuns'
    checksToTasksTableName: 'TaskclusterChecksToTasks'
    checkTaskRoute: 'checks'
    statusTaskRoute: 'statuses'
    statusContext: !env APPLICATION_NAME
    botName: !env BOT_USERNAME

  taskcluster:
    rootUrl: !env TASKCLUSTER_ROOT_URL
    credentials:
      clientId: !env TASKCLUSTER_CLIENT_ID
      accessToken: !env TASKCLUSTER_ACCESS_TOKEN

  github:
    credentials:
      privatePEM: !env GITHUB_PRIVATE_PEM
      appId: !env GITHUB_APP_ID

  webhook:
    secret: !env:list WEBHOOK_SECRET

  intree:
    provisionerId: !env:optional PROVISIONER_ID
    workerType: !env:optional WORKER_TYPE

  azure:
    accountId: !env AZURE_ACCOUNT_ID

  monitoring:
    level: !env:optional LEVEL
    errorConfig: !env:json:optional ERROR_CONFIG

  server:
    port: !env:number PORT
    env: 'development'
    forceSSL: false
    trustProxy: false

  pulse:
    hostname: !env PULSE_HOSTNAME
    username: !env PULSE_USERNAME
    password: !env PULSE_PASSWORD
    vhost: !env PULSE_VHOST

production:
  app:
    jobQueue: 'jobs'
    deprecatedResultStatusQueue: 'stat-result'
    deprecatedInitialStatusQueue: 'stat-init'
    resultStatusQueue: 'ch-result'
    initialStatusQueue: 'ch-init'

  intree:
    provisionerId: 'aws-provisioner-v1'
    workerType: 'github-worker'

  server:
    env: 'production'
    forceSSL: !env:bool FORCE_SSL
    trustProxy: !env:bool TRUST_PROXY

  taskcluster:
    schedulerId: taskcluster-github

  pulse:
    namespace: taskcluster-github

staging:
  app:
    jobQueue: 'jobs'
    deprecatedResultStatusQueue: 'deprecated-statuses'
    deprecatedInitialStatusQueue: 'deprecated-tasks'
    resultStatusQueue: 'checks-statuses'
    initialStatusQueue: 'checks-tasks'
    buildsTableName: 'TaskclusterGithubBuildsStaging'
    ownersDirectoryTableName: 'TaskclusterIntegrationOwnersStaging'
    name: 'tc-github-staging'
    statusContext: 'Taskcluster-Staging'

  intree:
    provisionerId: 'aws-provisioner-v1'
    workerType: 'github-worker'

  server:
    env: 'production'
    forceSSL: true
    # We trust the proxy on heroku, as the SSL end-point provided by heroku
    # is a proxy, so we have to trust it.
    trustProxy: true

  taskcluster:
    schedulerId: tc-gh-staging

test:
  app:
    botName: 'magicalTCspirit'
    jobQueue: 'test-jobs'
    deprecatedResultStatusQueue: 'deprecated-statuses'
    deprecatedInitialStatusQueue: 'deprecated-tasks'
    resultStatusQueue: 'checks-statuses'
    initialStatusQueue: 'checks-tasks'
    statusContext: 'Taskcluster-Test'

  webhook:
    secret: ['abc123', 'def456']

  azure:
    accountId: "pamplemousse"

  server:
    port: 60415

  intree:
    provisionerId: 'dummy-provisioner'
    workerType: 'dummy-worker'

  taskcluster:
    schedulerId: tc-gh-devel
    rootUrl: "https://tc.example.com"

  pulse:
    namespace: 'taskcluster-fake'
    hostname: 'test-hostname'
    username: 'username'
    password: 'password'
    vhost: 'test-vhost'
