extends layout

block content
  div.jumbotron
    h1 TaskCluster AWS Provisioning
    p
      | Welcome to the TaskCluster AWS Provisioner, this node spawns AWS
      | instances running workers based on pending items in the queue.
    p
      b Enjoy,
  if !user
    div.alert.alert-info
      strong Notice,
      |  you must be authenticated with an
      code @mozilla.com
      |  e-mail address to access these pages. Please
      a.alert-link.signin(href='#')  sign in
      | !