apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: taskcluster-purge-cache
  labels:
    app.kubernetes.io/name: taskcluster-purge-cache
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/component: taskcluster-purge-cache-secrets
    app.kubernetes.io/part-of: taskcluster
data:
  LEVEL: '{{ if typeIs "<nil>" .Values.purge_cache.level }}{{ else }}{{ .Values.purge_cache.level | toJson | trimAll "\"" | b64enc }}{{ end }}'
  FORCE_SSL: '{{ if typeIs "<nil>" .Values.forceSSL }}{{ else }}{{ .Values.forceSSL | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TRUST_PROXY: '{{ if typeIs "<nil>" .Values.trustProxy }}{{ else }}{{ .Values.trustProxy | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AZURE_ACCOUNT_ID: '{{ if typeIs "<nil>" .Values.azureAccountId }}{{ else }}{{ .Values.azureAccountId | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_ROOT_URL: '{{ if typeIs "<nil>" .Values.rootUrl }}{{ else }}{{ .Values.rootUrl | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_CLIENT_ID: '{{ if typeIs "<nil>" .Values.purge_cache.taskcluster_client_id }}{{ else }}{{ .Values.purge_cache.taskcluster_client_id | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_ACCESS_TOKEN: '{{ if typeIs "<nil>" .Values.purge_cache.taskcluster_access_token }}{{ else }}{{ .Values.purge_cache.taskcluster_access_token | toJson | trimAll "\"" | b64enc }}{{ end }}'
