{{- if .Values.autoscaling.enabled }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: taskcluster-queue-hpa
  labels:
    app.kubernetes.io/name: taskcluster-queue
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/component: taskcluster-queue-web
    app.kubernetes.io/part-of: taskcluster
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: taskcluster-queue
  minReplicas: '{{ .Values.queue.autoscaling.minReplicas }}'
  maxReplicas: '{{ .Values.queue.autoscaling.maxReplicas }}'
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: '{{ .Values.queue.autoscaling.targetCPUUtilization }}'
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: '{{ .Values.queue.autoscaling.targetMemoryUtilization }}'
{{- end }}
