apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: taskcluster-ui
  labels:
    app.kubernetes.io/name: taskcluster-ui
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/component: taskcluster-ui-secrets
    app.kubernetes.io/part-of: taskcluster
data:
  APPLICATION_NAME: '{{ if typeIs "<nil>" .Values.applicationName }}{{ else }}{{ .Values.applicationName | toJson | trimAll "\"" | b64enc }}{{ end }}'
  GRAPHQL_SUBSCRIPTION_ENDPOINT: '{{ if typeIs "<nil>" .Values.ui.graphql_subscription_endpoint }}{{ else }}{{ .Values.ui.graphql_subscription_endpoint | toJson | trimAll "\"" | b64enc }}{{ end }}'
  GRAPHQL_ENDPOINT: '{{ if typeIs "<nil>" .Values.ui.graphql_endpoint }}{{ else }}{{ .Values.ui.graphql_endpoint | toJson | trimAll "\"" | b64enc }}{{ end }}'
  UI_LOGIN_STRATEGY_NAMES: '{{ if typeIs "<nil>" .Values.ui.ui_login_strategy_names }}{{ else }}{{ .Values.ui.ui_login_strategy_names | toJson | trimAll "\"" | b64enc }}{{ end }}'
