apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: taskcluster-auth
  labels:
    app.kubernetes.io/name: taskcluster-auth
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/component: taskcluster-auth-secrets
    app.kubernetes.io/part-of: taskcluster
data:
  TASKCLUSTER_ROOT_URL: '{{ if typeIs "<nil>" .Values.rootUrl }}{{ else }}{{ .Values.rootUrl | toJson | trimAll "\"" | b64enc }}{{ end }}'
  STATIC_CLIENTS: '{{ if typeIs "<nil>" .Values.auth.static_clients }}{{ else }}{{ .Values.auth.static_clients | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AZURE_ACCOUNTS: '{{ if typeIs "<nil>" .Values.auth.azure_accounts }}{{ else }}{{ .Values.auth.azure_accounts | toJson | trimAll "\"" | b64enc }}{{ end }}'
  SENTRY_ORGANIZATION: '{{ if typeIs "<nil>" .Values.auth.sentry_organization }}{{ else }}{{ .Values.auth.sentry_organization | toJson | trimAll "\"" | b64enc }}{{ end }}'
  SENTRY_HOST: '{{ if typeIs "<nil>" .Values.auth.sentry_host }}{{ else }}{{ .Values.auth.sentry_host | toJson | trimAll "\"" | b64enc }}{{ end }}'
  SENTRY_AUTH_TOKEN: '{{ if typeIs "<nil>" .Values.auth.sentry_auth_token }}{{ else }}{{ .Values.auth.sentry_auth_token | toJson | trimAll "\"" | b64enc }}{{ end }}'
  SENTRY_TEAM: '{{ if typeIs "<nil>" .Values.auth.sentry_team }}{{ else }}{{ .Values.auth.sentry_team | toJson | trimAll "\"" | b64enc }}{{ end }}'
  SENTRY_KEY_PREFIX: '{{ if typeIs "<nil>" .Values.auth.sentry_key_prefix }}{{ else }}{{ .Values.auth.sentry_key_prefix | toJson | trimAll "\"" | b64enc }}{{ end }}'
  WEBSOCKTUNNEL_SECRET: '{{ if typeIs "<nil>" .Values.auth.websocktunnel_secret }}{{ else }}{{ .Values.auth.websocktunnel_secret | toJson | trimAll "\"" | b64enc }}{{ end }}'
  DOCS_BUCKET: '{{ if typeIs "<nil>" .Values.auth.docs_bucket }}{{ else }}{{ .Values.auth.docs_bucket | toJson | trimAll "\"" | b64enc }}{{ end }}'
  SCHEMAS_BUCKET: '{{ if typeIs "<nil>" .Values.auth.schemas_bucket }}{{ else }}{{ .Values.auth.schemas_bucket | toJson | trimAll "\"" | b64enc }}{{ end }}'
  REFS_BUCKET: '{{ if typeIs "<nil>" .Values.auth.refs_bucket }}{{ else }}{{ .Values.auth.refs_bucket | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AUDIT_LOG: '{{ if typeIs "<nil>" .Values.auth.audit_log }}{{ else }}{{ .Values.auth.audit_log | toJson | trimAll "\"" | b64enc }}{{ end }}'
  LEVEL: '{{ if typeIs "<nil>" .Values.auth.level }}{{ else }}{{ .Values.auth.level | toJson | trimAll "\"" | b64enc }}{{ end }}'
  ERROR_CONFIG: '{{ if typeIs "<nil>" .Values.errorConfig }}{{ else }}{{ .Values.errorConfig | toJson | trimAll "\"" | b64enc }}{{ end }}'
  FORCE_SSL: '{{ if typeIs "<nil>" .Values.forceSSL }}{{ else }}{{ .Values.forceSSL | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TRUST_PROXY: '{{ if typeIs "<nil>" .Values.trustProxy }}{{ else }}{{ .Values.trustProxy | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AZURE_ACCOUNT_ID: '{{ if typeIs "<nil>" .Values.azureAccountId }}{{ else }}{{ .Values.azureAccountId | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AZURE_ACCOUNT_KEY: '{{ if typeIs "<nil>" .Values.auth.azure_account_key }}{{ else }}{{ .Values.auth.azure_account_key | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AZURE_SIGNING_KEY: '{{ if typeIs "<nil>" .Values.auth.azure_signing_key }}{{ else }}{{ .Values.auth.azure_signing_key | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AZURE_CRYPTO_KEY: '{{ if typeIs "<nil>" .Values.auth.azure_crypto_key }}{{ else }}{{ .Values.auth.azure_crypto_key | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_USERNAME: '{{ if typeIs "<nil>" .Values.auth.pulse_username }}{{ else }}{{ .Values.auth.pulse_username | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_PASSWORD: '{{ if typeIs "<nil>" .Values.auth.pulse_password }}{{ else }}{{ .Values.auth.pulse_password | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_HOSTNAME: '{{ if typeIs "<nil>" .Values.pulseHostname }}{{ else }}{{ .Values.pulseHostname | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_VHOST: '{{ if typeIs "<nil>" .Values.pulseVhost }}{{ else }}{{ .Values.pulseVhost | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AWS_CREDENTIALS_ALLOWED_BUCKETS: '{{ if typeIs "<nil>" .Values.auth.aws_credentials_allowed_buckets }}{{ else }}{{ .Values.auth.aws_credentials_allowed_buckets | toJson | trimAll "\"" | b64enc }}{{ end }}'
  GCP_CREDENTIALS_ALLOWED_PROJECTS: '{{ if typeIs "<nil>" .Values.auth.gcp_credentials_allowed_projects }}{{ else }}{{ .Values.auth.gcp_credentials_allowed_projects | toJson | trimAll "\"" | b64enc }}{{ end }}'
