apiVersion: batch/v1
kind: CronJob
metadata:
  name: taskcluster-queue-expiretask
  labels: &ref_0
    app.kubernetes.io/name: taskcluster-queue
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/component: taskcluster-queue-expiretask
    app.kubernetes.io/part-of: taskcluster
spec:
  concurrencyPolicy: Forbid
  schedule: 10 0 * * *
  jobTemplate:
    metadata:
      labels: *ref_0
    spec:
      activeDeadlineSeconds: 86340
      template:
        metadata:
          labels: *ref_0
        spec:
          restartPolicy: OnFailure
          imagePullSecrets: {{ if .Values.imagePullSecret }}{{ toJson (list (dict "name" .Values.imagePullSecret)) }}{{ else }}[]{{ end }}
          securityContext:
            runAsNonRoot: true
          containers:
            - name: taskcluster-queue-expiretask
              image: '{{ .Values.dockerImage }}'
              imagePullPolicy: Always
              args:
                - queue/expireTask
              securityContext:
                allowPrivilegeEscalation: false
              resources:
                requests:
                  cpu: '{{ .Values.queue.procs.expireTask.cpu }}'
                  memory: '{{ .Values.queue.procs.expireTask.memory }}'
              env:
                - name: TASKCLUSTER_ROOT_URL
                  value: '{{ .Values.rootUrl }}'
                - name: USE_KUBERNETES_DNS_SERVICE_DISCOVERY
                  value: '{{ .Values.useKubernetesDnsServiceDiscovery }}'
                - name: NODE_ENV
                  value: production
              envFrom:
                - secretRef:
                    name: taskcluster-queue
                - configMapRef:
                    name: taskcluster-queue
