apiVersion: apps/v1
kind: Deployment
metadata:
  name: taskcluster-secrets-web
  labels: &ref_0
    app.kubernetes.io/name: taskcluster-secrets
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/component: taskcluster-secrets-web
    app.kubernetes.io/part-of: taskcluster
spec:
  {{- if not .Values.secrets.autoscaling.enabled }}
  replicas: {{ int (.Values.secrets.procs.web.replicas) }}
  {{- end }}
  selector:
    matchLabels: *ref_0
  template:
    metadata:
      annotations:
        checksum/secret: '{{ include (print $.Template.BasePath "/taskcluster-secrets-secret.yaml") . | sha256sum }}'
      labels:
        app.kubernetes.io/name: taskcluster-secrets
        app.kubernetes.io/instance: '{{ .Release.Name }}'
        app.kubernetes.io/component: taskcluster-secrets-web
        app.kubernetes.io/part-of: taskcluster
        prometheus.io/scrape: 'true'
        prometheus.io/port: '9100'
    spec:
      serviceAccountName: taskcluster-secrets
      imagePullSecrets: {{ if .Values.imagePullSecret }}{{ toJson (list (dict "name" .Values.imagePullSecret)) }}{{ else }}[]{{ end }}
      terminationGracePeriodSeconds: 210
      securityContext:
        runAsNonRoot: true
      containers:
        - name: taskcluster-secrets-web
          image: '{{ .Values.dockerImage }}'
          imagePullPolicy: Always
          args:
            - secrets/web
          securityContext:
            allowPrivilegeEscalation: false
          resources:
            requests:
              cpu: '{{ .Values.secrets.procs.web.cpu }}'
              memory: '{{ .Values.secrets.procs.web.memory }}'
          env:
            - name: PORT
              value: '80'
            - name: TASKCLUSTER_ROOT_URL
              value: '{{ .Values.rootUrl }}'
            - name: USE_KUBERNETES_DNS_SERVICE_DISCOVERY
              value: '{{ .Values.useKubernetesDnsServiceDiscovery }}'
            - name: NODE_ENV
              value: production
          envFrom:
            - secretRef:
                name: taskcluster-secrets
            - configMapRef:
                name: taskcluster-secrets
          ports:
            - containerPort: 80
            - name: prometheus
              containerPort: 9100
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /api/secrets/v1/ping
              port: 80
            timeoutSeconds: 5
            periodSeconds: 10
            initialDelaySeconds: 6
          livenessProbe:
            httpGet:
              path: /api/secrets/v1/ping
              port: 80
            timeoutSeconds: 3
            initialDelaySeconds: 15
            periodSeconds: 30
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/sh
                  - '-c'
                  - sleep 120
