apiVersion: apps/v1
kind: Deployment
metadata:
  name: taskcluster-built-in-workers-server
  labels: &ref_0
    app.kubernetes.io/name: taskcluster-built-in-workers
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/component: taskcluster-built-in-workers-server
    app.kubernetes.io/part-of: taskcluster
spec:
  replicas: {{ int (.Values.built_in_workers.procs.server.replicas) }}
  selector:
    matchLabels: *ref_0
  template:
    metadata:
      annotations:
        checksum/secret: '{{ include (print $.Template.BasePath "/taskcluster-built-in-workers-secret.yaml") . | sha256sum }}'
      labels: *ref_0
    spec:
      serviceAccountName: taskcluster-built-in-workers
      imagePullSecrets: {{ if .Values.imagePullSecret }}{{ toJson (list (dict "name" .Values.imagePullSecret)) }}{{ else }}[]{{ end }}
      terminationGracePeriodSeconds: 210
      securityContext:
        runAsNonRoot: true
      containers:
        - name: taskcluster-built-in-workers-server
          image: '{{ .Values.dockerImage }}'
          imagePullPolicy: Always
          args:
            - built-in-workers/server
          securityContext:
            allowPrivilegeEscalation: false
          resources:
            requests:
              cpu: '{{ .Values.built_in_workers.procs.server.cpu }}'
              memory: '{{ .Values.built_in_workers.procs.server.memory }}'
          env:
            - name: TASKCLUSTER_ROOT_URL
              value: '{{ .Values.rootUrl }}'
            - name: USE_KUBERNETES_DNS_SERVICE_DISCOVERY
              value: '{{ .Values.useKubernetesDnsServiceDiscovery }}'
            - name: NODE_ENV
              value: production
          envFrom:
            - secretRef:
                name: taskcluster-built-in-workers
            - configMapRef:
                name: taskcluster-built-in-workers
          ports: []
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - '-c'
                - exit $(awk 'BEGIN{srand(); print (rand() > 0.3)}')
            initialDelaySeconds: 432000
            periodSeconds: 60
            failureThreshold: 1
