apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: taskcluster-worker-manager
data:
  LEVEL: '{{ if typeIs "<nil>" .Values.worker_manager.level }}{{ else }}{{ .Values.worker_manager.level | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_ROOT_URL: '{{ if typeIs "<nil>" .Values.rootUrl }}{{ else }}{{ .Values.rootUrl | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_CLIENT_ID: '{{ if typeIs "<nil>" .Values.worker_manager.taskcluster_client_id }}{{ else }}{{ .Values.worker_manager.taskcluster_client_id | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_ACCESS_TOKEN: '{{ if typeIs "<nil>" .Values.worker_manager.taskcluster_access_token }}{{ else }}{{ .Values.worker_manager.taskcluster_access_token | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AZURE_ACCOUNT_ID: '{{ if typeIs "<nil>" .Values.azureAccountId }}{{ else }}{{ .Values.azureAccountId | toJson | trimAll "\"" | b64enc }}{{ end }}'
  FORCE_SSL: '{{ if typeIs "<nil>" .Values.forceSSL }}{{ else }}{{ .Values.forceSSL | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TRUST_PROXY: '{{ if typeIs "<nil>" .Values.trustProxy }}{{ else }}{{ .Values.trustProxy | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_HOSTNAME: '{{ if typeIs "<nil>" .Values.pulseHostname }}{{ else }}{{ .Values.pulseHostname | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_USERNAME: '{{ if typeIs "<nil>" .Values.worker_manager.pulse_username }}{{ else }}{{ .Values.worker_manager.pulse_username | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_PASSWORD: '{{ if typeIs "<nil>" .Values.worker_manager.pulse_password }}{{ else }}{{ .Values.worker_manager.pulse_password | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_VHOST: '{{ if typeIs "<nil>" .Values.pulseVhost }}{{ else }}{{ .Values.pulseVhost | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_NAMESPACE: '{{ if typeIs "<nil>" .Values.worker_manager.pulse_namespace }}{{ else }}{{ .Values.worker_manager.pulse_namespace | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PROVIDERS: '{{ if typeIs "<nil>" .Values.worker_manager.providers }}{{ else }}{{ .Values.worker_manager.providers | toJson | trimAll "\"" | b64enc }}{{ end }}'
