apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: taskcluster-notify
  labels:
    app.kubernetes.io/name: taskcluster-notify
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/component: taskcluster-notify-secrets
    app.kubernetes.io/part-of: taskcluster
data:
  EMAIL_SOURCE_ADDRESS: '{{ if typeIs "<nil>" .Values.notify.email_source_address }}{{ else }}{{ .Values.notify.email_source_address | toJson | trimAll "\"" | b64enc }}{{ end }}'
  EMAIL_BLACKLIST: '{{ if typeIs "<nil>" .Values.notify.email_blacklist }}{{ else }}{{ .Values.notify.email_blacklist | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_ROOT_URL: '{{ if typeIs "<nil>" .Values.rootUrl }}{{ else }}{{ .Values.rootUrl | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_CLIENT_ID: '{{ if typeIs "<nil>" .Values.notify.taskcluster_client_id }}{{ else }}{{ .Values.notify.taskcluster_client_id | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_ACCESS_TOKEN: '{{ if typeIs "<nil>" .Values.notify.taskcluster_access_token }}{{ else }}{{ .Values.notify.taskcluster_access_token | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AZURE_ACCOUNT_ID: '{{ if typeIs "<nil>" .Values.azureAccountId }}{{ else }}{{ .Values.azureAccountId | toJson | trimAll "\"" | b64enc }}{{ end }}'
  LEVEL: '{{ if typeIs "<nil>" .Values.notify.level }}{{ else }}{{ .Values.notify.level | toJson | trimAll "\"" | b64enc }}{{ end }}'
  ERROR_CONFIG: '{{ if typeIs "<nil>" .Values.errorConfig }}{{ else }}{{ .Values.errorConfig | toJson | trimAll "\"" | b64enc }}{{ end }}'
  FORCE_SSL: '{{ if typeIs "<nil>" .Values.forceSSL }}{{ else }}{{ .Values.forceSSL | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TRUST_PROXY: '{{ if typeIs "<nil>" .Values.trustProxy }}{{ else }}{{ .Values.trustProxy | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AWS_ACCESS_KEY_ID: '{{ if typeIs "<nil>" .Values.notify.aws_access_key_id }}{{ else }}{{ .Values.notify.aws_access_key_id | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AWS_SECRET_ACCESS_KEY: '{{ if typeIs "<nil>" .Values.notify.aws_secret_access_key }}{{ else }}{{ .Values.notify.aws_secret_access_key | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AWS_REGION: '{{ if typeIs "<nil>" .Values.notify.aws_region }}{{ else }}{{ .Values.notify.aws_region | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_HOSTNAME: '{{ if typeIs "<nil>" .Values.pulseHostname }}{{ else }}{{ .Values.pulseHostname | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_USERNAME: '{{ if typeIs "<nil>" .Values.notify.pulse_username }}{{ else }}{{ .Values.notify.pulse_username | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_PASSWORD: '{{ if typeIs "<nil>" .Values.notify.pulse_password }}{{ else }}{{ .Values.notify.pulse_password | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_VHOST: '{{ if typeIs "<nil>" .Values.pulseVhost }}{{ else }}{{ .Values.pulseVhost | toJson | trimAll "\"" | b64enc }}{{ end }}'
  IRC_SERVER: '{{ if typeIs "<nil>" .Values.notify.irc_server }}{{ else }}{{ .Values.notify.irc_server | toJson | trimAll "\"" | b64enc }}{{ end }}'
  IRC_NICK: '{{ if typeIs "<nil>" .Values.notify.irc_nick }}{{ else }}{{ .Values.notify.irc_nick | toJson | trimAll "\"" | b64enc }}{{ end }}'
  IRC_USER_NAME: '{{ if typeIs "<nil>" .Values.notify.irc_user_name }}{{ else }}{{ .Values.notify.irc_user_name | toJson | trimAll "\"" | b64enc }}{{ end }}'
  IRC_REAL_NAME: '{{ if typeIs "<nil>" .Values.notify.irc_real_name }}{{ else }}{{ .Values.notify.irc_real_name | toJson | trimAll "\"" | b64enc }}{{ end }}'
  IRC_PASSWORD: '{{ if typeIs "<nil>" .Values.notify.irc_password }}{{ else }}{{ .Values.notify.irc_password | toJson | trimAll "\"" | b64enc }}{{ end }}'
  IRC_PORT: '{{ if typeIs "<nil>" .Values.notify.irc_port }}{{ else }}{{ .Values.notify.irc_port | toJson | trimAll "\"" | b64enc }}{{ end }}'
  IRC_DEBUG: '{{ if typeIs "<nil>" .Values.notify.irc_debug }}{{ else }}{{ .Values.notify.irc_debug | toJson | trimAll "\"" | b64enc }}{{ end }}'
