apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: taskcluster-web-server
  labels:
    app.kubernetes.io/name: taskcluster-web-server
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/component: taskcluster-web-server-secrets
    app.kubernetes.io/part-of: taskcluster
data:
  PUBLIC_URL: '{{ if typeIs "<nil>" .Values.web_server.public_url }}{{ else }}{{ .Values.web_server.public_url | toJson | trimAll "\"" | b64enc }}{{ end }}'
  LEVEL: '{{ if typeIs "<nil>" .Values.web_server.level }}{{ else }}{{ .Values.web_server.level | toJson | trimAll "\"" | b64enc }}{{ end }}'
  ERROR_CONFIG: '{{ if typeIs "<nil>" .Values.errorConfig }}{{ else }}{{ .Values.errorConfig | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TRUST_PROXY: '{{ if typeIs "<nil>" .Values.trustProxy }}{{ else }}{{ .Values.trustProxy | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_ROOT_URL: '{{ if typeIs "<nil>" .Values.rootUrl }}{{ else }}{{ .Values.rootUrl | toJson | trimAll "\"" | b64enc }}{{ end }}'
  ADDITIONAL_ALLOWED_CORS_ORIGIN: '{{ if typeIs "<nil>" .Values.web_server.additional_allowed_cors_origin }}{{ else }}{{ .Values.web_server.additional_allowed_cors_origin | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_CLIENT_ID: '{{ if typeIs "<nil>" .Values.web_server.taskcluster_client_id }}{{ else }}{{ .Values.web_server.taskcluster_client_id | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_ACCESS_TOKEN: '{{ if typeIs "<nil>" .Values.web_server.taskcluster_access_token }}{{ else }}{{ .Values.web_server.taskcluster_access_token | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_USERNAME: '{{ if typeIs "<nil>" .Values.web_server.pulse_username }}{{ else }}{{ .Values.web_server.pulse_username | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_PASSWORD: '{{ if typeIs "<nil>" .Values.web_server.pulse_password }}{{ else }}{{ .Values.web_server.pulse_password | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_HOSTNAME: '{{ if typeIs "<nil>" .Values.pulseHostname }}{{ else }}{{ .Values.pulseHostname | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_VHOST: '{{ if typeIs "<nil>" .Values.pulseVhost }}{{ else }}{{ .Values.pulseVhost | toJson | trimAll "\"" | b64enc }}{{ end }}'
  UI_LOGIN_STRATEGIES: '{{ if typeIs "<nil>" .Values.web_server.ui_login_strategies }}{{ else }}{{ .Values.web_server.ui_login_strategies | toJson | trimAll "\"" | b64enc }}{{ end }}'
  SESSION_SECRET: '{{ if typeIs "<nil>" .Values.web_server.session_secret }}{{ else }}{{ .Values.web_server.session_secret | toJson | trimAll "\"" | b64enc }}{{ end }}'
