apiVersion: apps/v1
kind: Deployment
metadata:
  name: taskcluster-worker-manager-web
  labels: &ref_0
    app.kubernetes.io/name: taskcluster-worker-manager
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/component: taskcluster-worker-manager-web
    app.kubernetes.io/part-of: taskcluster
spec:
  {{- if not .Values.worker_manager.autoscaling.enabled }}
  replicas: {{ int (.Values.worker_manager.procs.web.replicas) }}
  {{- end }}
  selector:
    matchLabels: *ref_0
  template:
    metadata:
      annotations:
        checksum/secret: '{{ include (print $.Template.BasePath "/taskcluster-worker-manager-secret.yaml") . | sha256sum }}'
      labels:
        app.kubernetes.io/name: taskcluster-worker-manager
        app.kubernetes.io/instance: '{{ .Release.Name }}'
        app.kubernetes.io/component: taskcluster-worker-manager-web
        app.kubernetes.io/part-of: taskcluster
        prometheus.io/scrape: 'true'
        prometheus.io/port: '9100'
    spec:
      serviceAccountName: taskcluster-worker-manager
      imagePullSecrets: {{ if .Values.imagePullSecret }}{{ toJson (list (dict "name" .Values.imagePullSecret)) }}{{ else }}[]{{ end }}
      terminationGracePeriodSeconds: 210
      securityContext:
        runAsNonRoot: true
      containers:
        - name: taskcluster-worker-manager-web
          image: '{{ .Values.dockerImage }}'
          imagePullPolicy: Always
          args:
            - worker-manager/web
          securityContext:
            allowPrivilegeEscalation: false
          resources:
            requests:
              cpu: '{{ .Values.worker_manager.procs.web.cpu }}'
              memory: '{{ .Values.worker_manager.procs.web.memory }}'
          env:
            - name: PORT
              value: '8080'
            - name: TASKCLUSTER_ROOT_URL
              value: '{{ .Values.rootUrl }}'
            - name: USE_KUBERNETES_DNS_SERVICE_DISCOVERY
              value: '{{ .Values.useKubernetesDnsServiceDiscovery }}'
            - name: NODE_ENV
              value: production
          envFrom:
            - secretRef:
                name: taskcluster-worker-manager
            - configMapRef:
                name: taskcluster-worker-manager
          ports:
            - containerPort: 8080
            - name: prometheus
              containerPort: 9100
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /api/worker-manager/v1/ping
              port: 8080
            timeoutSeconds: 5
            periodSeconds: 10
            initialDelaySeconds: 6
          livenessProbe:
            httpGet:
              path: /api/worker-manager/v1/ping
              port: 8080
            timeoutSeconds: 3
            initialDelaySeconds: 15
            periodSeconds: 30
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/sh
                  - '-c'
                  - sleep 120
