apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: taskcluster-purge-cache
  labels:
    app.kubernetes.io/name: taskcluster-purge-cache
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/component: taskcluster-purge-cache-secrets
    app.kubernetes.io/part-of: taskcluster
data:
  LEVEL: '{{ if typeIs "<nil>" .Values.purge_cache.level }}{{ else }}{{ if typeIs "string" .Values.purge_cache.level }}{{ .Values.purge_cache.level | b64enc }}{{ else }}{{ .Values.purge_cache.level | toJson | b64enc }}{{ end }}{{ end }}'
  ERROR_CONFIG: '{{ if typeIs "<nil>" .Values.errorConfig }}{{ else }}{{ if typeIs "string" .Values.errorConfig }}{{ .Values.errorConfig | b64enc }}{{ else }}{{ .Values.errorConfig | toJson | b64enc }}{{ end }}{{ end }}'
  FORCE_SSL: '{{ if typeIs "<nil>" .Values.forceSSL }}{{ else }}{{ if typeIs "string" .Values.forceSSL }}{{ .Values.forceSSL | b64enc }}{{ else }}{{ .Values.forceSSL | toJson | b64enc }}{{ end }}{{ end }}'
  TRUST_PROXY: '{{ if typeIs "<nil>" .Values.trustProxy }}{{ else }}{{ if typeIs "string" .Values.trustProxy }}{{ .Values.trustProxy | b64enc }}{{ else }}{{ .Values.trustProxy | toJson | b64enc }}{{ end }}{{ end }}'
  AZURE_ACCOUNT_ID: '{{ if typeIs "<nil>" .Values.azureAccountId }}{{ else }}{{ if typeIs "string" .Values.azureAccountId }}{{ .Values.azureAccountId | b64enc }}{{ else }}{{ .Values.azureAccountId | toJson | b64enc }}{{ end }}{{ end }}'
  TASKCLUSTER_ROOT_URL: '{{ if typeIs "<nil>" .Values.rootUrl }}{{ else }}{{ if typeIs "string" .Values.rootUrl }}{{ .Values.rootUrl | b64enc }}{{ else }}{{ .Values.rootUrl | toJson | b64enc }}{{ end }}{{ end }}'
  TASKCLUSTER_CLIENT_ID: '{{ if typeIs "<nil>" .Values.purge_cache.taskcluster_client_id }}{{ else }}{{ if typeIs "string" .Values.purge_cache.taskcluster_client_id }}{{ .Values.purge_cache.taskcluster_client_id | b64enc }}{{ else }}{{ .Values.purge_cache.taskcluster_client_id | toJson | b64enc }}{{ end }}{{ end }}'
  TASKCLUSTER_ACCESS_TOKEN: '{{ if typeIs "<nil>" .Values.purge_cache.taskcluster_access_token }}{{ else }}{{ if typeIs "string" .Values.purge_cache.taskcluster_access_token }}{{ .Values.purge_cache.taskcluster_access_token | b64enc }}{{ else }}{{ .Values.purge_cache.taskcluster_access_token | toJson | b64enc }}{{ end }}{{ end }}'
