apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: taskcluster-queue
  labels:
    app.kubernetes.io/name: taskcluster-queue
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/component: taskcluster-queue-secrets
    app.kubernetes.io/part-of: taskcluster
data:
  PUBLIC_ARTIFACT_BUCKET: '{{ if typeIs "<nil>" .Values.queue.public_artifact_bucket }}{{ else }}{{ .Values.queue.public_artifact_bucket | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PRIVATE_ARTIFACT_BUCKET: '{{ if typeIs "<nil>" .Values.queue.private_artifact_bucket }}{{ else }}{{ .Values.queue.private_artifact_bucket | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AZURE_REPORT_CHANCE: '{{ if typeIs "<nil>" .Values.queue.azure_report_chance }}{{ else }}{{ .Values.queue.azure_report_chance | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AZURE_REPORT_THRESHOLD: '{{ if typeIs "<nil>" .Values.queue.azure_report_threshold }}{{ else }}{{ .Values.queue.azure_report_threshold | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PUBLIC_ARTIFACT_EC2_PROXIES: '{{ if typeIs "<nil>" .Values.queue.public_artifact_ec2_proxies }}{{ else }}{{ .Values.queue.public_artifact_ec2_proxies | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PUBLIC_ARTIFACT_BUCKET_CDN: '{{ if typeIs "<nil>" .Values.queue.public_artifact_bucket_cdn }}{{ else }}{{ .Values.queue.public_artifact_bucket_cdn | toJson | trimAll "\"" | b64enc }}{{ end }}'
  USE_CLOUD_MIRROR: '{{ if typeIs "<nil>" .Values.queue.use_cloud_mirror }}{{ else }}{{ .Values.queue.use_cloud_mirror | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASK_CACHE_MAX_SIZE: '{{ if typeIs "<nil>" .Values.queue.task_cache_max_size }}{{ else }}{{ .Values.queue.task_cache_max_size | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_ROOT_URL: '{{ if typeIs "<nil>" .Values.rootUrl }}{{ else }}{{ .Values.rootUrl | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_CLIENT_ID: '{{ if typeIs "<nil>" .Values.queue.taskcluster_client_id }}{{ else }}{{ .Values.queue.taskcluster_client_id | toJson | trimAll "\"" | b64enc }}{{ end }}'
  TASKCLUSTER_ACCESS_TOKEN: '{{ if typeIs "<nil>" .Values.queue.taskcluster_access_token }}{{ else }}{{ .Values.queue.taskcluster_access_token | toJson | trimAll "\"" | b64enc }}{{ end }}'
  LEVEL: '{{ if typeIs "<nil>" .Values.queue.level }}{{ else }}{{ .Values.queue.level | toJson | trimAll "\"" | b64enc }}{{ end }}'
  ERROR_CONFIG: '{{ if typeIs "<nil>" .Values.errorConfig }}{{ else }}{{ .Values.errorConfig | toJson | trimAll "\"" | b64enc }}{{ end }}'
  FORCE_SSL: '{{ if typeIs "<nil>" .Values.forceSSL }}{{ else }}{{ .Values.forceSSL | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AZURE_ACCOUNT_ID: '{{ if typeIs "<nil>" .Values.azureAccountId }}{{ else }}{{ .Values.azureAccountId | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AZURE_ACCOUNT_KEY: '{{ if typeIs "<nil>" .Values.queue.azure_account_key }}{{ else }}{{ .Values.queue.azure_account_key | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_USERNAME: '{{ if typeIs "<nil>" .Values.queue.pulse_username }}{{ else }}{{ .Values.queue.pulse_username | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_PASSWORD: '{{ if typeIs "<nil>" .Values.queue.pulse_password }}{{ else }}{{ .Values.queue.pulse_password | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_HOSTNAME: '{{ if typeIs "<nil>" .Values.pulseHostname }}{{ else }}{{ .Values.pulseHostname | toJson | trimAll "\"" | b64enc }}{{ end }}'
  PULSE_VHOST: '{{ if typeIs "<nil>" .Values.pulseVhost }}{{ else }}{{ .Values.pulseVhost | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AWS_ACCESS_KEY_ID: '{{ if typeIs "<nil>" .Values.queue.aws_access_key_id }}{{ else }}{{ .Values.queue.aws_access_key_id | toJson | trimAll "\"" | b64enc }}{{ end }}'
  AWS_SECRET_ACCESS_KEY: '{{ if typeIs "<nil>" .Values.queue.aws_secret_access_key }}{{ else }}{{ .Values.queue.aws_secret_access_key | toJson | trimAll "\"" | b64enc }}{{ end }}'
  ARTIFACT_REGION: '{{ if typeIs "<nil>" .Values.queue.artifact_region }}{{ else }}{{ .Values.queue.artifact_region | toJson | trimAll "\"" | b64enc }}{{ end }}'
