apiVersion: apps/v1
kind: Deployment
metadata:
  name: taskcluster-github-web
  labels: &ref_0
    app.kubernetes.io/name: taskcluster-github
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/component: taskcluster-github-web
    app.kubernetes.io/part-of: taskcluster
spec:
  replicas: {{ int (.Values.github.procs.web.replicas) }}
  selector:
    matchLabels: *ref_0
  template:
    metadata:
      annotations:
        checksum/secret: '{{ include (print $.Template.BasePath "/taskcluster-github-secret.yaml") . | sha256sum }}'
      labels: *ref_0
    spec:
      serviceAccountName: taskcluster-github
      imagePullSecrets: {{ if .Values.imagePullSecret }}{{ toJson (list (dict "name" .Values.imagePullSecret)) }}{{ else }}[]{{ end }}
      terminationGracePeriodSeconds: 210
      containers:
        - name: taskcluster-github-web
          image: '{{ .Values.dockerImage }}'
          imagePullPolicy: Always
          args:
            - github/web
          resources:
            requests:
              cpu: '{{ .Values.github.procs.web.cpu }}'
              memory: '{{ .Values.github.procs.web.memory }}'
          env:
            - name: PORT
              value: '80'
            - name: TASKCLUSTER_ROOT_URL
              value: '{{ .Values.rootUrl }}'
            - name: USE_KUBERNETES_DNS_SERVICE_DISCOVERY
              value: '{{ .Values.useKubernetesDnsServiceDiscovery }}'
            - name: NODE_ENV
              value: production
          envFrom:
            - secretRef:
                name: taskcluster-github
            - configMapRef:
                name: taskcluster-github
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /api/github/v1/ping
              port: 80
            timeoutSeconds: 5
            periodSeconds: 10
            initialDelaySeconds: 6
          livenessProbe:
            httpGet:
              path: /api/github/v1/ping
              port: 80
            timeoutSeconds: 3
            initialDelaySeconds: 15
            periodSeconds: 30
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/sh
                  - '-c'
                  - sleep 120
