extends layout

block content
  div.alert.alert-warning
    strong Not authenticated!
    |  Please login with your
    code @mozilla.com
    |  address
  p
    | We apologizes the inconvenience, if you is a Mozilla-employee please
    | login with another address. Otherwise, help us authorize access for
    | community members with reasonable commit level access, i.e. file a bug
    | to get this fixed.
