[Unit]
Description=Taskcluster docker worker
Wants=device-drivers
After=docker.service device-drivers

[Service]
Type=simple
ExecStart=/usr/local/bin/start-docker-worker
User=root
Environment="HOST=packet"

[Install]
RequiredBy=graphical.target
