[Unit]
Description=Taskcluster docker worker
Wants=device-drivers.service tc-w-runner-config.service
After=docker.service device-drivers.service tc-w-runner-config.service

[Service]
Type=simple
ExecStart=/usr/local/bin/start-docker-worker
User=root

[Install]
RequiredBy=graphical.target
