[Unit]
Description=Creates the /etc/start-worker.yml file
Wants=cloud-init.target
After=cloud-init.target

[Service]
Type=notify
ExecStart=/usr/local/bin/load-packet-config
User=root

[Install]
RequiredBy=docker-worker.service
