<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logging in...</title>
  </head>
  <body>
    <script>
      window.addEventListener('load', () => {
        if (window.opener) {
          window.opener.postMessage({
            type: 'login',
            encodedProfile: <%- JSON.stringify(user.encodedProfile) %>,
            identityProviderId: <%- JSON.stringify(user.identityProviderId) %>,
            providerExpires: <%- JSON.stringify(user.providerExpires) %>,
          }, <%- JSON.stringify(publicUrl) %>);
          window.close();
        }
      });
    </script>
  </body>
</html>
