| !{content} 
if link
  | !{link.text}: !{link.href}
| 
| email rate limit remaining: #{rateLimit}
| Mozilla Taskcluster | docs.taskcluster.net | https://chat.mozilla.org/#/room/#taskcluster:mozilla.org

