$schema: "/schemas/common/metaschema.json#"
title: Google Provider Config
description: |
  'The config section of a workertype is using a provider with implementation google must match this.
  Much of these fields are documented [here](https://cloud.google.com/compute/docs/reference/rest/v1/instanceTemplates)'
type: object
properties:
  minCapacity:
    title: Minimum Capacity
    type: integer
    minimum: 0
    description: |
      The minimum amount of capacity that worker-manager should make
      available at any given time.
  maxCapacity:
    title: Maximum Capacity
    type: integer
    minimum: 0
    description: |
      The maximum amount of capacity that worker-manager should make
      available at any given time.
  lifecycle: {$ref: 'worker-lifecycle.json#'}
  launchConfigs:
    type: array
    title: Choices
    description: |
      An array of possible variations of workers for this pool. Allows to vary across regions/zones/machineType/etc
      Each choice must include at least the required properties but can also include anything in
      the request body of [the instance creation](https://cloud.google.com/compute/docs/reference/rest/beta/instances/insert)
      api method from gcloud. That said, worker-manager sets `instanceName` and `serviceAccounts` directly and you
      cannot override these. It also fills in some basic labels, will generate a default description, and sets the `taskcluster`
      metadata key directly. You are free to set other metadata items though. A subset of these fields we require you to set such as `machineType`.
    uniqueItems: false
    items:
      type: object
      properties:
        capacityPerInstance:
          title: Capacity Per Instance
          type: integer
          minimum: 1
          description: The number of tasks a single worker of this type can run at any given time.
        workerConfig:
          title: Worker Config
          type: object
          additionalProperties: true
          description: |
            This value is supplied unchanged as the `workerConfig` property of the `taskcluster` instance metadata attribute.
            The expectation is that the worker will merge this information with configuration from other sources,
            and this is precisely what [worker-runner](https://github.com/taskcluster/taskcluster/tree/master/tools/worker-runner) does.
            This property must not be used for secret configuration, as it is visible both in the worker pool configuration and in the worker instance's metadata.
            Instead, put secret configuration in the [secrets service](https://github.com/taskcluster/taskcluster/tree/master/tools/worker-runner#secrets).
        region:
          title: Region
          type: string
          description: The gcloud region this worker should be spawned in
        zone:
          title: Availability Zone
          type: string
          description: |
            The gcloud az this worker should be spawned in. This az must be included because many resources (such as
            machine types and disk types) are az-specific.
        machineType:
          title: Machine Type
          type: string
          description: Full or partial URL of the machine type resource to use. Defined in detail in the google doc above
        disks:
          title: Disks
          type: array
          description: Defined in detail in the google doc above.
          uniqueItems: false
        networkInterfaces:
          title: Network Interfaces
          type: array
          description: Defined in detail in the google doc above.
          uniqueItems: false
        scheduling:
          title: Scheduling
          type: object
          description: |
            Defined in detail in the google doc above. Worker manager harcodes values for `automaticRestart` but
            you can set all other fields.
          additionalProperties: true
      required:
        - capacityPerInstance
        - workerConfig
        - region
        - zone
        - machineType
        - disks
        - networkInterfaces
        - scheduling
      additionalProperties: true
additionalProperties: false
required:
  - minCapacity
  - maxCapacity
  - launchConfigs
